<%- include header %>
<ul class="archive">
<% var lastYear = 0 %>
<% posts.forEach(function (post, index) { %>
  <% if (lastYear != post.createtime.year) { %>
    <li><h3><%= post.createtime.year %></h3></li>
  <% lastYear=post.createtime.year } %>
  <li><time><%= post.createtime.day %></time></li>
  <li><a href="/p/<%= post._id %>"><%= post.title %></a>
   <% if(post.isprivate){%>
   		<em tabindex="0" class="privatetag">私</em>
   <%}%>
  </li>
<% }) %>
</ul>
<%- include footer %>