<%- include header %>
<!--局部样式,字体参考自:http://blog.csdn.net/truong/article/details/18863043-->
<style type="text/css">
  strong{
    font-size:20px;
    font-family:Georgia, "Times New Roman", Times, serif;
  }
</style>
<p>
  <% if (user) { %>
    <span><a class="edit" href="/edit/<%= post._id %>">编辑</a></span>
    <span><a class="edit" href="/remove/<%= post._id %>">删除</a></span>
    <% if(post.isprivate){%>
    <span class="privatetag">私有</span>
    <%}%>
  <% } %>
</p>
<p class="info">
  日期：<%= post.createtime.minute %> | 
  标签：
  <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
  <% }) %>
  | 阅读：<%= post.pv %> 
</p>
<p><%- post.post %></p>
<!-- 文章版权声明 -->
<div class="copyright-article">版权声明: 署名-非商业性使用-禁止演绎 4.0 国际（<a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" target="_blank">CC BY-NC-ND 4.0</a>）
</div>

<%- include footer %>