<%- include header %>
<p>
  <% if (user) { %>
    <span><a class="edit" href="/edit/<%= post._id %>">编辑</a></span>
    <span><a class="edit" href="/remove/<%= post._id %>">删除</a></span>
  <% } %>
  <% var flag = 1 %>
  <% if (user && (user.name != post.name)) { %>
    <% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
      <% flag = 0 %>
    <% } %>
    <% if ((post.reprint_info.reprint_to != undefined)) { %>
      <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
        <% if (user.name == reprint_to.name) { %>
          <% flag = 0 %>
        <% } %>
      <% }) %>
    <% } %>
  <% } else { %>
    <% flag = 0 %>
  <% } %>
  <% if (flag) { %>
    <span><a class="edit" href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">转载</a></span>
  <% } %>
</p>
<p class="info">
  日期：<%= post.time.minute %> | 
  标签：
  <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
  <% }) %>
  <% if (post.reprint_info.reprint_from) { %>
    <br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
  <% } %>
</p>
<p><%- post.post %></p>
<p class="info">
  阅读：<%= post.pv %> 
</p>

<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="<%= post._id %>" 
  data-title="<%= post.title %>" data-url="www.kobepeng.com/p/<%= post._id %>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"kobepeng"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

<%- include footer %>