<%- include header %>
<!--局部样式,字体参考自:http://blog.csdn.net/truong/article/details/18863043-->
<style type="text/css">
  strong{
    font-size:20px;
    font-family:Georgia, "Times New Roman", Times, serif;
  }
</style>
<p>
  <% if (user) { %>
    <span><a class="edit" href="/edit/<%= post._id %>">编辑</a></span>
    <span><a class="edit" href="/remove/<%= post._id %>">删除</a></span>
    <% if(post.isprivate){%>
    <span class="privatetag">私有</span>
    <%}%>
  <% } %>
</p>
<p class="info">
  日期：<%= post.createtime.minute %> | 
  标签：
  <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
  <% }) %>
  | 阅读：<%= post.pv %> 
</p>
<p><%- post.post %></p>
<!-- 文章版权声明 -->
<div class="copyright-article">版权声明: 署名-非商业性使用-禁止演绎 4.0 国际（<a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" target="_blank">CC BY-NC-ND 4.0</a>）
</div>


<!-- 多说评论框 start -->
  <!--<div class="ds-thread" data-thread-key="<%= post._id %>"  data-name="kobepeng"
  data-title="<%= post.title %>" data-url="www.kobepeng.com/p/<%= post._id %>"></div>-->
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<!--<script type="text/javascript">
var duoshuoQuery = {short_name:"kobepeng"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>-->
<!-- 多说公共JS代码 end -->

<!--高速版-->
<!-- <div id="SOHUCS" sid="<%= post._id %>"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cyt4QzAGa',
conf: 'prod_c1d5ac6c7244da4273821bda9f38ee9d'
});
</script> -->

<%- include footer %>