<%- include header %>

<style type="text/css">
  p{margin: 0px;}
  H3{margin-top:5px;}
</style>
<% posts.forEach(function (post, index) { %>
  <p><h2 class="index-title"><a  href="/p/<%= post._id %>"><%= post.title %></a></h2></p>
  <p class="index-info">
    日期：<%= post.createtime.minute %> |
    标签：
    <% post.tags.forEach(function (tag, index) { %>
      <% if (tag) { %>
        <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
      <% } %>
    <% }) %>  |
    阅读：<%= post.pv %>
  </p>
  <div class="index-page"><%- post.post %></div>
<% }) %>
<%- include paging %>

<!-- weibo shiow -->
<div class="weibo" >
  <div class="close-weibo" ><span style="font-family:微软雅黑">x</span></div>
</div>

<!--高速版-->
<div id="SOHUCS" sid="0609"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cyt4QzAGa',
conf: 'prod_c1d5ac6c7244da4273821bda9f38ee9d'
});
</script>
<%- include footer %>
